@use '../../../styles/partials/all' as *;

.player-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: $bg-2;
  padding: 1rem;
  border-bottom: 1px solid $borders;
  position: relative;

  @include tablet {
    width: 100%;
    max-width: 80rem;
    align-self: center;
    border-left: 1px solid $borders;
    border-right: 1px solid $borders;
    border-radius: 0 0 10px 10px;
  }

  &__play-head {
    position: absolute;
    height: 16rem;
    width: 1px;
    bottom: 4.5rem;
    margin-left: 7.5rem;
    background-color: $error;
  }

  &__volume {
    display: flex;
    width: 30%;
    gap: 1rem;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    aspect-ratio: 1/1;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $bg-3;
    }

    & * > path {
      fill: white;
    }

    &--play-pause {
      @extend .player-controls__button;
      background-color: $prime-blue;

      &:hover, &.disabled {
        background-color: $prime-blue;
        filter: brightness(.75);
      }

      &.disabled {
        cursor: default;
      }

      & span {
        display: flex;
        align-items: center;
      }

      & circle {
        stroke: white;
      }
    }
  }
}