@use '../../../../styles/partials/all' as *;

.arrange-editor-row {
  display: flex;
  height: $trackHeight;
  align-items: center;
  border-bottom: 1px solid $borders;

  &__label {
    width: 8rem;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__track {
    height: 100%;
    width: 100%;
    background-color: $bg-2;
    border-left: 1px solid $borders;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    position: relative;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }

  &__remove {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;

    & path {
      fill: $error;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 10rem;
  }
}