@use './styles/partials/reset';
@use './styles/partials/typography';
@use './styles/partials/all' as *;

html {
  background-color: $bg-1;
}

body {
  font-family: 'roboto', arial, sans-serif;
  color: white;

}

//so that footer can be at the bottom of viewport when viewport is taller than total app height
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}